@layer components {
  .btn {
    @apply inline-flex cursor-pointer items-center justify-center rounded-full whitespace-nowrap transition-all duration-150;
  }

  .btn-primary {
    @apply border;
    background-color: var(--container-primary-default);
    color: var(--label-primary-default);
    border-color: var(--border-primary-default);
    &:hover {
      background-color: var(--container-primary-hover);
      color: var(--label-primary-focus);
      border-color: var(--border-primary-hover);
    }
    &:focus {
      background-color: var(--container-primary-focus);
      color: var(--label-primary-focus);
      border-color: var(--border-primary-focus);
    }
  }
  .btn-secondary {
    @apply border;
    background-color: var(--container-secondary-default);
    color: var(--label-secondary-default);
    border-color: var(--border-secondary-default);
    &:hover {
      background-color: var(--container-secondary-hover);
      color: var(--label-secondary-hover);
      border-color: var(--border-secondary-hover);
    }
    &:focus {
      background-color: var(--container-secondary-focus);
      color: var(--label-secondary-focus);
      border-color: var(--border-secondary-focus);
    }
  }
  .btn-tertiary {
    @apply border;
    background-color: var(--container-tertiary-default);
    color: var(--label-tertiary-default);
    border-color: var(--border-tertiary-default);
    &:hover {
      background-color: var(--container-tertiary-hover);
      color: var(--label-tertiary-hover);
      border-color: var(--border-tertiary-hover);
    }
    &:focus {
      background-color: var(--container-tertiary-focus);
      color: var(--label-tertiary-focus);
      border-color: var(--border-tertiary-focus);
    }
  }

  /* context에 따른 분기 있음 */
  .btn-neutral {
    background-color: var(--container-neutral-onpanel-default); /* 기본 onPanel */
    color: var(--label-neutral-default);
    border-color: var(--border-neutral-default);
    &:hover {
      color: var(--label-neutral-hover);
      border-color: var(--border-neutral-hover);
    }
    &:focus {
      color: var(--label-neutral-focus);
      border-color: var(--border-neutral-focus);
    }
  }
  .btn-neutral-onpanel {
    background-color: var(--container-neutral-onpanel-default);
    &:hover {
      background-color: var(--container-neutral-onpanel-hover);
    }
    &:focus {
      background-color: var(--container-neutral-onpanel-focus);
    }
  }
  .btn-neutral-onmain {
    background-color: var(--container-neutral-onmain-default);
    &:hover {
      background-color: var(--container-neutral-onmain-hover);
    }
    &:focus {
      background-color: var(--container-neutral-onmain-focus);
    }
  }

  .btn-sm {
    @apply px-3 py-2;
    font-size: var(--text-label-small-size);
    line-height: var(--text-label-small-line-height);
    font-weight: var(--text-label-small-weight);
  }
  .btn-md {
    @apply px-4 py-[10px];
    font-size: var(--text-label-medium-size);
    line-height: var(--text-label-medium-line-height);
    font-weight: var(--text-label-medium-weight);
  }
  .btn-lg {
    @apply px-5 py-3;
    font-size: var(--text-label-large-size);
    line-height: var(--text-label-large-line-height);
    font-weight: var(--text-label-large-weight);
  }

  .btn-disabled {
    @apply cursor-not-allowed opacity-30;
  }
}
