@layer components {
  .divider {
    @apply block rounded-full transition-colors duration-150;
  }
  .divider-horizontal {
    @apply w-full;
  }
  .divider-vertical {
    @apply h-full;
  }
  .divider-gray100 {
    background-color: var(--color-gray100);
  }
  .divider-gray200 {
    background-color: var(--color-gray200);
  }
  .divider-gray300 {
    background-color: var(--color-gray300);
  }
  .divider-blue {
    background-color: var(--color-blue400);
  }
  .divider-trans-blue {
    @apply bg-[var(--color-blue400)] hover:bg-[var(--color-gray700)];
  }
}
