@layer components {
  .iconBtn {
    @apply flex cursor-pointer items-center justify-center rounded-full transition-all duration-150;
  }

  .iconBtn-primary {
    @apply border;
    background-color: var(--container-primary-default);
    color: var(--label-primary-default);
    border-color: var(--border-primary-default);
    &:hover {
      background-color: var(--container-primary-hover);
      color: var(--label-primary-focus);
      border-color: var(--border-primary-hover);
    }
    &:focus {
      background-color: var(--container-primary-focus);
      color: var(--label-primary-focus);
      border-color: var(--border-primary-focus);
    }
  }
  .iconBtn-secondary {
    @apply border;
    background-color: var(--container-secondary-default);
    color: var(--label-secondary-default);
    border-color: var(--border-secondary-default);
    &:hover {
      background-color: var(--container-secondary-hover);
      color: var(--label-secondary-hover);
      border-color: var(--border-secondary-hover);
    }
    &:focus {
      background-color: var(--container-secondary-focus);
      color: var(--label-secondary-focus);
      border-color: var(--border-secondary-focus);
    }
  }
  .iconBtn-tertiary {
    @apply border;
    background-color: var(--container-tertiary-default);
    color: var(--label-tertiary-default);
    border-color: var(--border-tertiary-default);
    &:hover {
      background-color: var(--container-tertiary-hover);
      color: var(--label-tertiary-hover);
      border-color: var(--border-tertiary-hover);
    }
    &:focus {
      background-color: var(--container-tertiary-focus);
      color: var(--label-tertiary-focus);
      border-color: var(--border-tertiary-focus);
    }
  }
  .iconBtn-neutral {
    background-color: var(--container-neutral-onpanel-default);
    color: var(--label-neutral-default);
    border-color: var(--border-neutral-default);
    &:hover {
      background-color: var(--container-neutral-onpanel-hover);
      color: var(--label-neutral-hover);
      border-color: var(--border-neutral-hover);
    }
    &:focus {
      background-color: var(--container-neutral-onpanel-focus);
      color: var(--label-neutral-focus);
      border-color: var(--border-neutral-focus);
    }
  }

  .iconBtn-sm {
    @apply h-8 w-8;
  }
  .iconBtn-md {
    @apply h-9 w-9;
  }
  .iconBtn-lg {
    @apply h-10 w-10;
  }

  .iconBtn-disabled {
    @apply cursor-not-allowed opacity-30;
  }
}
