@import 'tailwindcss';

@import './colors.css';
@import './tokens.css';

/* === GLOBAL DEFAULT STYLES === */
:root {
  --background: var(--color-white);
  --foreground: var(--color-black);
}

/*=== FONTS === */
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-display: swap;
}
@theme {
  --font-pretendard: Pretendard, sans-serif;
}

@layer base {
  body {
    @apply font-pretendard;
  }
}

/* ========== CUSTOM SCROLL BAR ========== */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-gray200);
  border-radius: 8px;
  cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Firefox 대응 */
.no-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
