name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch: {}

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      NEXT_PUBLIC_BASE_API_URL: ${{ secrets.NEXT_PUBLIC_BASE_API_URL }}
      NEXT_PUBLIC_WS_BASE_URL: ${{ secrets.NEXT_PUBLIC_WS_BASE_URL }}
      NEXT_PUBLIC_API_TOKEN: ${{ secrets.NEXT_PUBLIC_API_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.19.0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Prettier Check
        run: pnpm exec prettier --check "src/**/*.{js,jsx,ts,tsx,json,css,md}"

      - name: ESLint Check
        run: pnpm exec eslint "src/**/*.{js,jsx,ts,tsx}" --max-warnings=0

      - name: TypeScript Check
        run: pnpm exec tsc --noEmit

      - name: Next.js Build
        run: pnpm run build
